.appContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.headingContainer {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px;
  padding-left: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  text-align: center;
  justify-content: center;
  margin-left: -50px;
  font-size: 22px;
  margin-top: 5px;
}

.congratsLottie {
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translate(0, -25%);
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.christmasBox {
    position: absolute;
    z-index: 4;
    top: 0;
    /* transform: translate(0, -10%); */
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.scanerContainer {
    border: 10px;
}

.scanerContainer video {
    width: 100vw !important;
    height: 100vh !important;
    left: 0 !important;
    top: 0 !important;
    object-fit: cover !important;
}

#example-scanning-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: transparent;
    z-index: 2;
  }

  @media (min-aspect-ratio: 1/1) {
    #example-scanning-overlay .inner {
      width: 50vh;
      height: 50vh;
    }
  }
  @media (max-aspect-ratio: 1/1) {
    #example-scanning-overlay .inner {
      width: 80vw;
      height: 80vw;
    }
  }

  #example-scanning-overlay .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    background:
      linear-gradient(to right, white 10px, transparent 10px) 0 0,
      linear-gradient(to right, white 10px, transparent 10px) 0 100%,
      linear-gradient(to left, white 10px, transparent 10px) 100% 0,
      linear-gradient(to left, white 10px, transparent 10px) 100% 100%,
      linear-gradient(to bottom, white 10px, transparent 10px) 0 0,
      linear-gradient(to bottom, white 10px, transparent 10px) 100% 0,
      linear-gradient(to top, white 10px, transparent 10px) 0 100%,
      linear-gradient(to top, white 10px, transparent 10px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 40px 40px;
  }

  #example-scanning-overlay.hidden {
      display: none;
  }

  #example-scanning-overlay .inner .scanline {
    position: absolute;
    width: 100%;
    height: 10px;
    background: white;
    animation: move 2s linear infinite;
  }
  @keyframes move {
    0%, 100% { top: 0% }
    50% { top: calc(100% - 10px) }
  }